{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>

    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>
</div>

<p>
<div class="columnleft">
<p class="columnbtn">
    <a href="/CreateAccount/">Create Account</a>
</p>
<p class="columnbtn">
    <a href="/CreateCourse/">Create Course</a>
</p>
<p class="columnbtn">
    <a href="/AddSection/">Add Sections</a>
</p>
</div>
<div class="columnright">
<p class="columnbtn">
    <a href="/AssignInstructor/">Assign Instructor</a>
</p>
<p class="columnbtn">
    <a href="/ViewAccounts/">View Accounts</a>
</p>
<p class="columnbtn">
    <a href="/ViewAssignments/">View Assignments</a>
</p>

</div>
</p>



</body>
</html>