{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign TA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>

</div>
<p class="homelink"><a href="/Home/">Home</a></p>



    <form action="/AssignTA/" method="post" class="onecolform">
        {% csrf_token %}

            <label for="classname">Course:</label><br/>
            <select id="classname" name="classname" required>
                {% for i in courselist %}
                <option value={{ i }}>{{ i }}</option>
                {% endfor %}
            </select><br/><br/>



            <label for="section">Section:</label><br/>
            <select id="section" name="section" required>
                {% for i in sectionlist %}
                <option value={{ i }}>{{ i }}</option>
                {% endfor %}
            </select><br/><br/>


            <label for="ta">TA:</label><br/>
            <select id="ta" name="ta" required>
                {% for i in talist %}
                <option value={{ i }}>{{ i }}</option>
                {% endfor %}
            </select><br/><br/>

            <input type="submit" value="Save"><br/>
            <div class="successmsg">{{ successmsg }}</div>
            <div class="badmsg">{{ badmsg }}</div>

    </form>

</div>

</body>
</html>