{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign TA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>

</div>
<p class="homelink"><a href="/Home/">Home</a></p>



    <form action="/AssignTA/" method="post" class="onecolform">
        {% csrf_token %}

            <label for="course">Course:</label><br/>
            <select id="course" name="course" required>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
            </select><br/><br/>



            <label for="section">Section:</label><br/>
            <select id="section" name="section" required>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
            </select><br/><br/>


            <label for="ta">TA:</label><br/>
            <select id="ta" name="ta" required>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
            </select><br/><br/>

            <input type="submit" value="Save"><br/>
            <div class="successmsg">{{ successmsg }}</div>
            <div class="badmsg">{{ badmsg }}</div>

    </form>

</div>

</body>
</html>