{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>

</div>
<p class="homelink"><a href="/">Home</a></p>

<div class="row">
    <form action="/CreateCourse/" method="post" class="accountform">
        {% csrf_token %}
        <div class="columncenter">
            <label for="classname">Course:</label><br/>
            <input type="text" id="classname" name="classname" required><br/><br/>

            <input type="submit" value="Create"><br/>
            <div class="successmsg">{{ successmsg }}</div>
            <div class="badmsg">{{ badmsg }}</div>
        </div>
    </form>
</div>
</body>
</html>