{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>

</div>
<p class="homelink"><a href="/Home/">Home</a></p>


<div class="row">
    <form action="/CreateAccount/" method="post" class="onecolform">
        {% csrf_token %}
        <div class="columncenter">

            <label for="role">Role:</label><br/>
            <select id="role" name="role" required>
                <option value="Admin">Administrator</option>
                <option value="Instructor">Instructor</option>
                <option value="TA">TA</option>
            </select>


            <input type="submit" value="Next"><br/>

        </div>
    </form>

</div>

</body>
</html>