{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>
</div>

<form action="/" method="post" class="centerlogin">
    {% csrf_token %}
    <label for="username">Username:</label><br/>
    <input type="text" id="username" name="username"><br/><br/>
    <label for="password">Password:</label><br/>
    <input type="password" id="password" name="password" ><br/><br/>
    <input type="submit" value="Login"><br/>
    <div class="badmsg">{{ badmsg }}</div>
</form>

</body>
</html>