{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Course</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>

</div>
<p class="homelink"><a href="/Home/">Home</a></p>



    <form action="/SelectCourse/" method="post" class="onecolform">
        {% csrf_token %}

            <label for="classname">Course:</label><br/>
            <select id="classname" name="classname" required>
                {% for i in courselist %}
                <option value={{ i }}>{{ i }}</option>
                {% endfor %}
            </select><br/><br/>

            <input type="submit"value="Next"><br/>
            <div class="successmsg">{{ successmsg }}</div>


    </form>

</div>

</body>
</html>