{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Accounts</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>

</div>
<p class="homelink"><a href="/Home/">Home</a></p>

<table border="1">
<caption>Instructor assignments</caption>
    <thead>
    <th>
        Course
    </th>
    <th>
        Instructor
    </th>


    </thead>
    <tbody>
    {% for i in allcour %}
        <tr>
            <td>{{ i.classname }}</td>
            <td>{{ i.instructor }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>
<table border="1">
<caption>TA assignments</caption>
    <thead>
    <th>
        Course
    </th>
    <th>
        Section
    </th>
    <th>
        Time
    </th>
    <th>
        TA
    </th>


    </thead>
    <tbody>
    {% for i in allsect %}
        <tr>
            <td>{{ i.course.classname }}</td>
            <td>{{ i.number }}</td>
            <td>{{ i.time }}</td>
            <td>{{ i.ta.fname }} {{ i.ta.lname }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>