{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Accounts</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scheduler/style.css' %}" />
</head>
<body>
<img class="hero" src="{% static 'img/calendar2.png' %}" width="300px">
<div class="bar">
    <h1 class="title">TA Scheduling</h1>

</div>
<p class="homelink"><a href="/Home/">Home</a></p>

<table border="1">
    <thead>
    <th>
        First Name
    </th>
    <th>
        Last Name
    </th>
    <th>
        Email
    </th>
    <th>
        Role
    </th>
    <th>
        Work Phone
    </th>
    {% if account.role == "admin" or account.role == "Admin"%}
    <th>
        Personal Phone
    </th>
    <th>
        Max Sections
    </th>
    <th>
        Skills
    </th>
    <th>
        Address
    </th>
    <th>
        City
    </th>
    <th>
        State
    </th>
    <th>
        Zip
    </th>
        <th>
        Max Sections
    </th>
        <th>
        Remaining Sections
    </th>

    <th>
        &nbsp
    </th>

    {% endif %}
    </thead>
    <tbody>
    {% for i in obj %}
        <form action = "{%  url 'ViewAccounts' %}" method="post">
        {% csrf_token %}
        <tr>
            <td>{{ i.fname }}</td>
            <td>{{ i.lname }}</td>
            <td>{{ i.email}}</td>
            <td>{{ i.role}}</td>
            <td>{{ i.wphone}}</td>
            {% if account.role == "admin" or account.role == "Admin" %}
                <td>{{ i.pphone}}</td>
                <td>{{ i.maxsection}}</td>
                <td>{{ i.skills}}</td>
                <td>{{ i.address}}</td>
                <td>{{ i.city}}</td>
                <td>{{ i.state}}</td>
                <td>{{ i.zip}}</td>
                <td>{{ i.maxsection}}</td>
                <td>{{ i.remainingSection}}</td>
                <td><a href="{% url 'ViewAccounts' deleteuser=i.email %}">Delete</a></td>
            {% endif %}



        </tr>
        </form>
    {% endfor %}
    <div class="successmsg">{{ successmsg }}</div>
    </tbody>

</table>